<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}MetrOps{% endblock %}</title>
</html>
<body>
    <header>
        <h1>MetrOps</h1>
        {% if user.is_authenticated %}
            <span>Logged in as {{ user.username }}</span>
            {% csrf_token %}
            <form action="{% url 'core:logout' %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Sign Out">
            </form>
        {% else %}
            <a href="{% url 'core:login' %}">Sign In</a>
        {% endif %}
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Em Linso</p>
    </footer>
</body>